body{
    margin: 0;
    padding: 0;
    background: rgb(0,0,0,.2);
}
.carousel{
    margin: 0 auto;
    width: 100%;
    height: 800px;
    position: relative;
}
.carousel_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.carousel_track_container{
    background: chartreuse;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel_track{
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: relative;
    height: 100%;
    transition: tranform 250ms ease-in;
    
}
.carousel_slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: 0;
    background: transparent;
   
}
.carousel_button--left{
    left: 20px;
    z-index: 1000;
    background: rgb(0,0,0,.3);

 }
 .carousel_button--right{
     right: 20px;
     z-index: 1001;
     background: rgb(0,0,0,0.5);
 }
 .carousel_nav{
     display: flex;
     justify-content: center;
 }
 .carousel_nav .carousel_indicator{
     width: 20px;
     height: 20px;
     border-radius: 50%;
     border:0;
     margin: 20px;
     background: rgb(0,0,0,.3);

 }
 .carousel_nav .current_slide{
     background: rgb(0,0,0,.75);
 }

 .hide{
     display: none;
 }
@media screen and (max-width:380px){
    body{
        margin: 0;
        padding: 0;
        background: rgb(0,0,0,.2);
    }
    .carousel{
        margin: 0 auto;
        width: 100%;
        height: 400px;
        position: relative;
    }
}